---
layout: team
title: "Team"
description: "MEDIVIEWSOFT Team"
header-img: "img/about-bg.jpg"
---

{% for category in site.categories %}
{% for posts in category %}
{% for post in posts %}
{% if post.category == 'team' %}
<div class="row team-preview">
        <img class="col-lg-3 col-sm-5 profile-img img-circle img-responsive" src="{{ post.profile | prepend: '/img/profile/' | prepend: site.url }}" />
        <div class="col-lg-9 col-sm-7 profile">
          <h2 class="post-title"> 
            {% if post.degree %}
            <small class="team-degree">
                {{ post.degree }}
            </small>
            {% endif %}
            <a href="{{ post.url | prepend: site.baseurl }}"> 
              {{ post.title }}
            </a>
            {% if post.homepage %}
            <small class="team-homepage">
              <a href="{{ post.homepage }}"> <i class="fa fa-home" aria-hidden="true"></i> </a>
            </small>
            {% endif %}
          </h2>
          {% if post.research-area %}
          <p class="team-research-area">
             Research Area : {{ post.research-area }}
          </p>
          {% endif %}
        </div>
</div>
{% endif %}
{% endfor %}
{% endfor %}
{% endfor %}

<!-- Pager -->
{% if paginator.total_pages > 1 %}
<ul class="pager">
    {% if paginator.previous_page %}
    <li class="previous">
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&larr; Newer Posts</a>
    </li>
    {% endif %}
    {% if paginator.next_page %}
    <li class="next">
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older Posts &rarr;</a>
    </li>
    {% endif %}
</ul>
{% endif %}
